@model IEnumerable<BankSystem.Models.Customer>

@{
    ViewData["Title"] = "Customer List";
}

<h1>Customer List</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Mail</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Mail</td>
                <td>@item.Phone</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Edit</a> |
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info">Details</a> |
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>